{% extends 'admin/change_list.html' %}
    {% block object-tools %}
        <div>
            <form action=" train" method="POST">
            {% csrf_token %}
            <button type="submit" >Train Model</button>
            </form>

        </div>
        <br />
    {{ block.super }}
{% endblock %}